.ventana{
    -fx-background-image: url("imagenes/fondo.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;

}
#titulo{
    -fx-font-size: 30px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;

}
.table-view.table-cell{
    -fx-border-color: transparente;
    -fx-padding: 5px 20px;
}

.table-row-cell:selected {
    -fx-background-color: blue;
    -fx-text-background-color: red;
}
#pane{
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.7), 10, 0.5, 0.0, 0.0);
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 10px;
}